@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-c1: #FF5722;
  --color-c2: #D81B7E;
  --color-c3: #7C3AED;
  --color-like-black: #0F172A;
  --color-pink: #DB2777;
  --color-btn:#EC4899 ;
  --color-footer:#475569;

  --color-Tc-1:#8B5CF6;
  --color-Tc-2:#EC4899;

  
}